.collections{
  display: flex;
  flex-direction: column;

  .collection{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40vh;

    .CollectionImages{
      display: flex;

      h2{
        font-size: 5em;
      }
      .card{
        padding: 0 10px;

        img{
          width: 200px;
        }
      }
    }
  }
}
