:root{
  /* exemple :*/
  --Dark-grayish-blue: hsl(240, 17%, 80%);
  --Soft-violet: hsl(222, 59%, 43%);
}
body{
  margin: 0;
  padding: 0;
  background: var(--Dark-grayish-blue);
  font-family: 'Poppins', sans-serif;
}
.container{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1{
    font-size: 3em;
  }
  a{
    color: var(--Soft-violet);
  }
  .description{
    font-size: 2em;
    padding: 20px 0;
  }
}